@font-face {
    font-family: 'Sequel';
    src: url(fonts/Sequel\ Sans\ Roman\ Body.woff);
}

@font-face {
    font-family: 'Textbook';
    src: url(fonts/TEXTBK.woff);
}

body {
    font-family: 'Textbook', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    background: linear-gradient(
        to left,
        #4994d0,
        #5f5f5f 50%,
        #ffffff 75%,
        #b1b1b1 75%
        );
    color: black;
}

h1, h2, h3, h4 {
    font-family: 'Sequel', Arial, Helvetica, sans-serif;
}

a:hover {
    text-shadow: 2px 2px 5px #fc87c4;
}

.navbar-brand {
    font-size: 1.5em;
}

.navhead {
    height: 20%;
    width: 50%;
}

.cursor-glow {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #e64699;
    background: -moz-radial-gradient(circle, rgba(255, 109, 172, 0.8) 0%, rgba(238,174,202,0.2) 100%);
    box-shadow: 0px 0px 20px rgba(238,174,202,1);
    background: radial-gradient(circle, rgba(238,174,202,0.8) 0%, rgba(238,174,202,0.2) 100%);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1.4em;
        background: linear-gradient(
        to bottom,
        #4994d0,
        #757575 50%,
        #ffffff 75%
        );
        background-repeat: no-repeat;
    }
    
    .navbar-brand {
        letter-spacing: 4.8ch;
        margin: auto;

    }

    .navbar-toggler {
        margin: auto;
    }

    .navhead {
    width: 80%;
}

}